/*
	Road Trip by TEMPLATED
	templated.co @templatedco
*/

/* Grid */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.row > * {
  padding: 0 0 0 2em;
}

.row {
  margin: 0 0 -1px -2em;
}

.\31 2u, .\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0;
}

.\36 u, .\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0;
}

.\34 u, .\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0;
}

.\31 2u\24 + *,
.\31 1u\24 + *,
.\31 0u\24 + *,
.\39 u\24 + *,
.\38 u\24 + *,
.\37 u\24 + *,
.\36 u\24 + *,
.\35 u\24 + *,
.\34 u\24 + *,
.\33 u\24 + *,
.\32 u\24 + *,
.\31 u\24 + * {
  clear: left;
}

@media screen and (max-width: 980px) {

  .\31 2u\28medium\29, .\31 2u\24\28medium\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  .\31 2u\24\28medium\29 + * {
    clear: left;
  }

}

@media screen and (max-width: 736px) {

  .\31 2u\28small\29, .\31 2u\24\28small\29 {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  .\31 2u\24\28small\29 + * {
    clear: left;
  }

}

/* Basic */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

  html, body {
    min-width: 320px;
  }

}

body {
  background: #1b1b1b;
}

  body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
  }

.inner {
  width: 60em;
}

@media screen and (max-width: 1280px) {

  .inner {
    width: 65em;
  }

}

@media screen and (max-width: 980px) {

  .inner {
    width: 80%;
  }

}

@media screen and (max-width: 736px) {

  .inner {
    width: 90%;
  }

}

/* Type */

body {
  background-color: #1b1b1b;
  color: rgba(255, 255, 255, 0.75);
}

body, input, select, textarea {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 300;
  line-height: 1.65;
}

  @media screen and (max-width: 1680px) {

    body, input, select, textarea {
      font-size: 11pt;
    }

  }

  @media screen and (max-width: 1280px) {

    body, input, select, textarea {
      font-size: 11pt;
    }

  }

  @media screen and (max-width: 980px) {

    body, input, select, textarea {
      font-size: 12pt;
    }

  }

  @media screen and (max-width: 736px) {

    body, input, select, textarea {
      font-size: 12pt;
    }

  }

  @media screen and (max-width: 480px) {

    body, input, select, textarea {
      font-size: 12pt;
    }

  }

a {
  text-decoration: underline;
}

  a:hover {
    text-decoration: none;
  }

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 1em 0;
  /* text-transform: uppercase; */
}

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
  }

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.35em;
}

strong, b {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

/* Box */

.box {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  margin-bottom: 2em;
  overflow: hidden;
  padding: 4em;
}

  .box > :last-child,
  .box > :last-child > :last-child,
  .box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
  }

  .box header h2 {
    margin: 0 0 .5em 0;
    color: #FFF;
  }

  .box header p {
    color: rgba(255, 255, 255, 0.5);
  }

  .box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
  }

  @media screen and (max-width: 980px) {

    .box {
      padding: 3em;
    }

  }

  @media screen and (max-width: 736px) {

    .box {
      padding: 2em;
    }

  }

  @media screen and (max-width: 480px) {

    .box {
      padding: 1em;
    }

  }

/* List */

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

  ul li {
    padding-left: 0.5em;
  }

/* Section/Article */

header p {
  position: relative;
  margin: 0 0 1.5em 0;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
}

header p {
  color: rgba(255, 255, 255, 0.5);
}

/* Wrapper */

.wrapper {
  padding: 6em 0;
  position: relative;
}

  @media screen and (max-width: 980px) {

    .wrapper {
      padding: 4em 0;
    }

  }

  @media screen and (max-width: 736px) {

    .wrapper {
      padding: 2em 0;
    }

  }

/* Banner */

#banner {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  padding: 8em 0 6em 0;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: 0;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}

  #banner .inner {
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1;
    position: relative;
    z-index: 2;
  }

  #banner h1 {
    font-size: 7em;
    line-height: 1.1;
    font-family: "Abril Fatface", sans-serif;
    margin-bottom: .25em;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
    text-transform: none;
  }

  #banner p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.75em;
  }

  #banner:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    content: '';
    display: block;
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  @media screen and (max-width: 980px) {

    #banner {
      font-size: .85em;
    }

      #banner br {
        display: none;
      }

  }

  @media screen and (max-width: 736px) {

    #banner {
      background-attachment: scroll;
      min-height: 0;
      padding: 8em 2em 4em 2em;
    }

      #banner h1 {
        font-size: 6em;
      }

  }

  @media screen and (max-width: 480px) {

    #banner h1 {
      font-size: 4em;
    }

  }

  body.is-loading #banner .inner {
    -moz-transform: scale(0.99);
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
    opacity: 0;
  }

  body.is-loading #banner:before {
    opacity: 1;
  }

/* Post */

.post {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: 0;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}

  .post .box {
    margin: 0;
  }

@-moz-keyframes inner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes inner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes inner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes inner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

  .post .inner {
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    -moz-transition: opacity 1.25s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1.25s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1.25s ease, -ms-transform 1s ease;
    transition: opacity 1.25s ease, transform 1s ease;
    opacity: 0;
    position: relative;
    z-index: 2;
  }

    .post .inner.current {
      opacity: 1;
    }

  .post:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    content: '';
    display: block;
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  @media screen and (max-width: 736px) {

    .post {
      min-height: 0;
      height: auto;
      background-attachment: scroll;
    }

      .post h2 {
        font-size: 1.5em;
      }

  }

  @media screen and (max-width: 480px) {

    .post h2 {
      font-size: 1.25em;
    }

    .post .button {
      width: 100%;
    }

  }

/* Footer */

  #footer a {
    color: #ffffff;
  }

  #footer strong, #footer b {
    color: #ffffff;
  }

  #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #ffffff;
  }

  #footer header p {
    color: #fbb5b5;
  }

  #footer .inner {
    margin: 0 auto;
  }

  #footer h2 {
    margin-bottom: 2em;
  }

  #footer .icons {
    text-align: center;
    padding-top: 1em;
  }

  @media screen and (max-width: 736px) {

    #footer {
      padding: 3em 0 1em 0;
    }

  }
